## 一、檔案載入測試

In [1]:
# Step 1: 載入必要套件
import pandas as pd
import os

# Step 2: 設定檔案路徑
data_dir = "../DataSet/"
file_name = "acct_transaction.csv"
file_path = os.path.join(data_dir, file_name)

# Step 3: 讀取原始資料
df = pd.read_csv(file_path)

# 檢查前幾筆資料
df.head()

,from_acct,from_acct_type,to_acct,to_acct_type,is_self_txn,txn_amt,txn_date,txn_time,currency_type,channel_type
0,be6fdd2d0f9aa02b0b09436fb137654942e3346e16ab43...,1,7abb16ac9bddc1f464981131ba68506775a964df2e0734...,1,N,47500.0,71,05:05:00,TWD,04
1,18f3d0e79217f8bc8b4cb485f9f80a884771b846de652f...,1,e77e425fb5f3ece7a7b431b3c43cc1d040f3054e35479d...,2,UNK,6150.0,31,20:55:00,TWD,03
2,302f3911cbf56bf9b5ad209a4b045a82380f98d92604c1...,1,4a707a0af2aa824777082803013610090033104c308023...,1,N,1150000.0,37,09:20:00,TWD,04
3,5a4809796865b1526f46e5dda6a35c1a4def3cbe969cc8...,1,d16b1bf33802f020b508002755c13aad549bc59dde7aae...,2,UNK,8550.0,106,13:40:00,TWD,04
4,7f84214987bdee16ffbaf3d70824e6385ce80e032a24c5...,1,c2e0f75b54f394b29755779ab9a488931e9d893a0e5f8f...,1,N,1450.0,84,11:20:00,TWD,03

## 二、帳戶資料整理

In [2]:
# Step 4: 將每筆交易拆成兩筆「以帳戶為主」的紀錄
# from_acct 為主帳戶
from_df = df.copy()
from_df['acct_id'] = from_df['from_acct']

# to_acct 為主帳戶
to_df = df.copy()
to_df['acct_id'] = to_df['to_acct']

# 合併兩個資料集
acct_df = pd.concat([from_df, to_df], ignore_index=True)

# 將欄位順序整理
cols = ['acct_id', 'from_acct', 'from_acct_type', 'to_acct', 'to_acct_type',
        'is_self_txn', 'txn_amt', 'txn_date', 'txn_time', 'currency_type', 'channel_type']
acct_df = acct_df[cols]

# 檢查整理後資料
acct_df.head()

,acct_id,from_acct,from_acct_type,to_acct,to_acct_type,is_self_txn,txn_amt,txn_date,txn_time,currency_type,channel_type
0,be6fdd2d0f9aa02b0b09436fb137654942e3346e16ab43...,be6fdd2d0f9aa02b0b09436fb137654942e3346e16ab43...,1,7abb16ac9bddc1f464981131ba68506775a964df2e0734...,1,N,47500.0,71,05:05:00,TWD,04
1,18f3d0e79217f8bc8b4cb485f9f80a884771b846de652f...,18f3d0e79217f8bc8b4cb485f9f80a884771b846de652f...,1,e77e425fb5f3ece7a7b431b3c43cc1d040f3054e35479d...,2,UNK,6150.0,31,20:55:00,TWD,03
2,302f3911cbf56bf9b5ad209a4b045a82380f98d92604c1...,302f3911cbf56bf9b5ad209a4b045a82380f98d92604c1...,1,4a707a0af2aa824777082803013610090033104c308023...,1,N,1150000.0,37,09:20:00,TWD,04
3,5a4809796865b1526f46e5dda6a35c1a4def3cbe969cc8...,5a4809796865b1526f46e5dda6a35c1a4def3cbe969cc8...,1,d16b1bf33802f020b508002755c13aad549bc59dde7aae...,2,UNK,8550.0,106,13:40:00,TWD,04
4,7f84214987bdee16ffbaf3d70824e6385ce80e032a24c5...,7f84214987bdee16ffbaf3d70824e6385ce80e032a24c5...,1,c2e0f75b54f394b29755779ab9a488931e9d893a0e5f8f...,1,N,1450.0,84,11:20:00,TWD,03

In [3]:
# Step 6: 篩選需要的欄位
acct_df_filtered = acct_df[['acct_id', 'from_acct', 'to_acct', 'txn_amt', 'txn_date', 'txn_time']]

# 檢視前幾筆資料
acct_df_filtered.head()

,acct_id,from_acct,to_acct,txn_amt,txn_date,txn_time
0,be6fdd2d0f9aa02b0b09436fb137654942e3346e16ab43...,be6fdd2d0f9aa02b0b09436fb137654942e3346e16ab43...,7abb16ac9bddc1f464981131ba68506775a964df2e0734...,47500.0,71,05:05:00
1,18f3d0e79217f8bc8b4cb485f9f80a884771b846de652f...,18f3d0e79217f8bc8b4cb485f9f80a884771b846de652f...,e77e425fb5f3ece7a7b431b3c43cc1d040f3054e35479d...,6150.0,31,20:55:00
2,302f3911cbf56bf9b5ad209a4b045a82380f98d92604c1...,302f3911cbf56bf9b5ad209a4b045a82380f98d92604c1...,4a707a0af2aa824777082803013610090033104c308023...,1150000.0,37,09:20:00
3,5a4809796865b1526f46e5dda6a35c1a4def3cbe969cc8...,5a4809796865b1526f46e5dda6a35c1a4def3cbe969cc8...,d16b1bf33802f020b508002755c13aad549bc59dde7aae...,8550.0,106,13:40:00
4,7f84214987bdee16ffbaf3d70824e6385ce80e032a24c5...,7f84214987bdee16ffbaf3d70824e6385ce80e032a24c5...,c2e0f75b54f394b29755779ab9a488931e9d893a0e5f8f...,1450.0,84,11:20:00

## 三、產生新資料表 

##### 1. 確認資料

In [4]:
# Step 8: 匯入必要套件
import numpy as np

# 確認欄位
acct_df_filtered.head()

,acct_id,from_acct,to_acct,txn_amt,txn_date,txn_time
0,be6fdd2d0f9aa02b0b09436fb137654942e3346e16ab43...,be6fdd2d0f9aa02b0b09436fb137654942e3346e16ab43...,7abb16ac9bddc1f464981131ba68506775a964df2e0734...,47500.0,71,05:05:00
1,18f3d0e79217f8bc8b4cb485f9f80a884771b846de652f...,18f3d0e79217f8bc8b4cb485f9f80a884771b846de652f...,e77e425fb5f3ece7a7b431b3c43cc1d040f3054e35479d...,6150.0,31,20:55:00
2,302f3911cbf56bf9b5ad209a4b045a82380f98d92604c1...,302f3911cbf56bf9b5ad209a4b045a82380f98d92604c1...,4a707a0af2aa824777082803013610090033104c308023...,1150000.0,37,09:20:00
3,5a4809796865b1526f46e5dda6a35c1a4def3cbe969cc8...,5a4809796865b1526f46e5dda6a35c1a4def3cbe969cc8...,d16b1bf33802f020b508002755c13aad549bc59dde7aae...,8550.0,106,13:40:00
4,7f84214987bdee16ffbaf3d70824e6385ce80e032a24c5...,7f84214987bdee16ffbaf3d70824e6385ce80e032a24c5...,c2e0f75b54f394b29755779ab9a488931e9d893a0e5f8f...,1450.0,84,11:20:00

##### 2. 取得初階資料

| 欄位名稱              | 說明              |
| ----------------- | --------------- |
| acct_id           | 帳戶 ID           |
| remittance_count  | 匯款次數（總共）        |
| remittance_sum    | 匯款總額            |
| remittance_days   | 匯款日數量           |
| avg_txn_time      | 平均交易時間（以匯款方為基準） |
| receive_count     | 收款次數（總共）        |
| receive_sum       | 收款總額            |
| avg_daily_receive | 平均單日收款次數        |
| std_daily_receive | 單日收款次數標準差       |

In [5]:
# Step 9: 建立「匯款端」與「收款端」的統計資料

# 匯款端統計
from_stats = (
    acct_df_filtered
    .groupby('from_acct')
    .agg(
        remittance_count=('txn_amt', 'count'),
        remittance_sum=('txn_amt', 'sum'),
        remittance_days=('txn_date', lambda x: x.nunique())
    )
    .reset_index()
    .rename(columns={'from_acct': 'acct_id'})
)

# 收款端統計
to_stats = (
    acct_df_filtered
    .groupby(['to_acct'])
    .agg(
        receive_count=('txn_amt', 'count'),
        receive_sum=('txn_amt', 'sum')
    )
    .reset_index()
    .rename(columns={'to_acct': 'acct_id'})
)

# 收款端每日收款次數
daily_receive = (
    acct_df_filtered
    .groupby(['to_acct', 'txn_date'])
    .size()
    .reset_index(name='daily_receive_count')
)

# 收款端平均與標準差
receive_daily_stats = (
    daily_receive
    .groupby('to_acct')
    .agg(
        avg_daily_receive=('daily_receive_count', 'mean'),
        std_daily_receive=('daily_receive_count', 'std')
    )
    .reset_index()
    .rename(columns={'to_acct': 'acct_id'})
)

# Step 10: 合併所有統計結果
acct_summary = (
    from_stats
    .merge(to_stats, on='acct_id', how='outer')
    .merge(receive_daily_stats, on='acct_id', how='outer')
)

# Step 11: 交易時間（取最早與最晚交易時間範圍）
txn_time_stats = (
    acct_df_filtered
    .groupby('acct_id')
    .agg(
        min_txn_time=('txn_time', 'min'),
        max_txn_time=('txn_time', 'max')
    )
    .reset_index()
)

acct_summary = acct_summary.merge(txn_time_stats, on='acct_id', how='left')

# Step 12: 用 NaN 填補為 0
acct_summary = acct_summary.fillna(0)

# Step 13: 檢視部分資料
acct_summary.head()

,acct_id,remittance_count,remittance_sum,remittance_days,receive_count,receive_sum,avg_daily_receive,std_daily_receive,min_txn_time,max_txn_time
0,00000577cfcd0bde8ee693021419ef13a1f7f933ec8626...,0.0,0.0,0.0,2.0,8100.0,2.0,0.0,14:30:00,14:30:00
1,00000eec52ea49377de91bc7b54eb3192943e6c20e0a51...,2.0,410.0,1.0,0.0,0.0,0.0,0.0,23:05:00,23:05:00
2,000015150c92e2a41c4715a088df78d77a7d4f3017aadc...,2.0,1170.0,1.0,0.0,0.0,0.0,0.0,09:30:00,09:30:00
3,00002846e6b430580825e2b10fe3ff1e3ddb93f42c608d...,0.0,0.0,0.0,2.0,6100.0,2.0,0.0,17:35:00,17:35:00
4,00002b3d8f9c7b91c407a5725849deb521fcf1dd5eea1f...,0.0,0.0,0.0,2.0,150.0,2.0,0.0,23:55:00,23:55:00

##### 3. 取得目標特徵值

| 欄位名稱                       | 意義                  |
| -------------------------- | ------------------- |
| acct_id                    | 帳戶 ID               |
| is_short_term_mass_receive | 是否短時間大量收款（Y/N）      |
| txn_count_ratio            | 匯款與收款次數比例           |
| txn_amt_ratio              | 匯款與收款金額比例           |
| is_night_txn               | 是否夜間交易（23:00~03:00） |
| amt_diff                   | 匯出匯入金額差額            |

In [6]:
# Step 14: 建立進階特徵欄位

# (1) 是否短時間大量收款 (今日收款量顯著高於平均)
# 我們需要 recent (最後一天) 的收款次數，來計算 Z-score
# 找出每個帳戶的最後交易日收款次數
recent_receive = (
    acct_df_filtered
    .groupby(['to_acct', 'txn_date'])
    .size()
    .reset_index(name='daily_receive_count')
    .sort_values(['to_acct', 'txn_date'])
    .groupby('to_acct')
    .tail(1)
    .rename(columns={'to_acct': 'acct_id', 'daily_receive_count': 'latest_daily_receive'})
)

# 合併到帳戶摘要
acct_features = acct_summary.merge(recent_receive, on='acct_id', how='left')

# 根據 Z-score > 2 判斷是否短時間大量收款
acct_features['is_short_term_mass_receive'] = (
    (acct_features['latest_daily_receive'] - acct_features['avg_daily_receive']) /
    acct_features['std_daily_receive']
).apply(lambda x: 1 if x > 2 else 0)

# 處理除以 0 或 NaN 的情況
acct_features['is_short_term_mass_receive'] = acct_features['is_short_term_mass_receive'].fillna('N')

# (2) 匯款, 收款的交易比例 (次數)
acct_features['txn_count_ratio'] = acct_features['remittance_count'] / acct_features['receive_count']
acct_features['txn_count_ratio'] = acct_features['txn_count_ratio'].replace([np.inf, -np.inf], np.nan).fillna(0)

# (3) 匯款, 收款的交易比例 (金額)
acct_features['txn_amt_ratio'] = acct_features['remittance_sum'] / acct_features['receive_sum']
acct_features['txn_amt_ratio'] = acct_features['txn_amt_ratio'].replace([np.inf, -np.inf], np.nan).fillna(0)

# (4) 是否夜間交易 (23:00~03:00)
# 先將交易時間取整數時段
acct_time = (
    acct_df_filtered.groupby('acct_id')['txn_time'].apply(list).reset_index()
)

def is_night_txn(txn_times):
    for t in txn_times:
        hour = int(str(t).zfill(4)[:2])
        if (hour >= 23 or hour < 3):
            return 1
    return 0

acct_time['is_night_txn'] = acct_time['txn_time'].apply(is_night_txn)
acct_features = acct_features.merge(acct_time[['acct_id', 'is_night_txn']], on='acct_id', how='left')

# (5) 匯出匯入差額
acct_features['amt_diff'] = (acct_features['remittance_sum'] - acct_features['receive_sum']).abs()

# Step 15: 只保留需要的欄位
final_features = acct_features[[
    'acct_id',
    'is_short_term_mass_receive',
    'txn_count_ratio',
    'txn_amt_ratio',
    'is_night_txn',
    'amt_diff'
]]

# Step 16: 檢視前幾筆結果
final_features.head()

,acct_id,is_short_term_mass_receive,txn_count_ratio,txn_amt_ratio,is_night_txn,amt_diff
0,00000577cfcd0bde8ee693021419ef13a1f7f933ec8626...,0,0.0,0.0,0,8100.0
1,00000eec52ea49377de91bc7b54eb3192943e6c20e0a51...,0,0.0,0.0,1,410.0
2,000015150c92e2a41c4715a088df78d77a7d4f3017aadc...,0,0.0,0.0,0,1170.0
3,00002846e6b430580825e2b10fe3ff1e3ddb93f42c608d...,0,0.0,0.0,0,6100.0
4,00002b3d8f9c7b91c407a5725849deb521fcf1dd5eea1f...,0,0.0,0.0,1,150.0

##### 匯出特徵值

In [7]:
# Step 17: 匯出結果
output_file_final = os.path.join("../DataSet/", "PreProcessing_T2.csv")
final_features.to_csv(output_file_final, index=False)
print(f"✅ 特徵資料已輸出至：{output_file_final}")

✅ 特徵資料已輸出至：../DataSet/PreProcessing_T2.csv